<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select
    #selectElement
    disableRipple
    multiple
    (openedChange)="onOpenedChange()"
    (click)="onResetButtonClick()"
    [(value)]="ngModel"
  >
    <mat-option
      (click)="setSearchFocus()"
      class="filter-option"
      style="padding: 5px;"
    >
      <div
        style="display: grid; grid-template-rows: 1; grid-template-columns: auto auto auto; align-items: center;
        justify-items: center;"
      >
        <mat-checkbox
          #checkboxSelectAll
          style="grid-column: 1"
          (click)="toggleAll(checkboxSelectAll.checked)"
          class="sellectAllCheckbox"
        ></mat-checkbox>
        <input
          [(ngModel)]="searchContent"
          #searchInput
          class="dropdown-input"
          (keydown)="$event.stopPropagation()"
          placeholder="Search..."
          (keyup)="filterOptions()"
        />
        <button
          *ngIf="searchContent.length > 0"
          (click)="onResetButtonClick()"
          mat-icon-button
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-option>
    <mat-option
      [disabled]="option.disabled"
      *ngFor="let option of filteredOptions"
      [value]="option.value"
      (click)="onOptionClick(option)"
      style="flex"
    >
      {{ option.label }}
      <span
        *ngIf="option.disabled"
        style="right: 0px; color:red; font-size: 5px;"
      >
        disabled
      </span>
    </mat-option>
    <hr *ngIf="otherOptions.length != 0 && filteredOptions.length != 0" />
    <mat-option
      *ngFor="let option of otherOptions"
      disabled
      [value]="option.value"
      (click)="onOptionClick(option)"
    >
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
